.authordate {
  border-top:1px solid #008ae6;
  border-bottom:1px solid #008ae6;
  margin-bottom:30px;
}

img { max-width:100%; }

.main-container {
  margin-top:48pt;
  color:#008ae6;
}

h1 {
  color:#333399;
  font-weight:400;
}

h2 {
  color:#333399;
  font-weight:300;
}

h3 {
  color:#333399;
  font-weight:250;
}

h4 {
  color: #333399;
  font-weight:200;
}

h5 {
  color: #333399;
  font-weight:100;
}

.hdr {
  position:fixed;
  width:100%;
  background:#008ae6;
  border-bottom:3px solid #522d80;
  color:white;
  font-weight:400;
  font-size:14pt;
  height:40pt;
  padding:11px;
  padding-right:20px;
  top: 0;
  z-index: 100;
  text-align:right;
}

.hdr > a:link,
.hdr > a:visited,
.hdr > a:hover,
.hdr > a:active {
  color:white;
  text-decoration: none;
}

.hdr > a:hover {
  color:#cd754c;
}

.ftr {
  border-top:1px solid #008ae6;
  margin-top:30px;
  text-align:center;
  font-size:10px;
}

.ftr > a:link,
.ftr > a:visited,
.ftr > a:hover,
.ftr > a:active {
  color:#008ae6;
  text-decoration: none;
}

.ftr > a:hover {
  color:#008ae6;
}

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
}
th {
  background-color: rgb(150, 150, 150);
  color: white;
  font-weight: normal;
  padding: 20px 30px;
  height:40px
  text-align: center;
}

td {
  background-color: rgb(238, 238, 238);
  color: rgb(111, 111, 111);
  padding: 3px 3px;
  height:25px
}

a {
    color: #6495ed;
}

/* visited link */
a:visited {
    color: #008040;
}

/* mouse over link */
a:hover {
    color: #cd754c;
}
